<!DOCTYPE html>
<html>
	<head>
		<title><%= title%></title>
		<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets'%>
	</head>
	<body>
		<div class="container">
			<%= render 'layouts/header'%>
			<section class="round">
			<%=yield%>	
			</section>
			<%= render 'layouts/footer'%>
		</div>
	</body>
</html>